.content {
    background-color: #1f1f24;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .issueContent pre {
    background-color: #2b2b2f;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    color: #c9c9c9;
  }
  